= simple_form_for([bubble]) do |f|
  .card-body
    = f.input :name, label: 'Bubble Name', input_html: { class: 'form-control' }
    %label{ for: 'bubble_content' } Write description here:
    = f.text_area :content, placeholder: 'Please write here', id: 'bubble_content', class: 'form-control', style: 'width: 100%; height: 200px;'

 
