.row.justify-content-center
  .col-sm-8.col-lg-6
    .card
      .card-header Edit Bubble
      = render 'form', bubble: @bubble
      .form-actions
        = link_to 'Back', bubbles_path, class: 'btn btn-dark mt-3'
