/* Reset default styles for body and html */
body, html {
  height: 100%; /* Set the height of body and html to 100% */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Style for fullscreen background */
.fullscreen-bg {
  background: url('https://mdbootstrap.com/img/Photos/new-templates/tables/img2.jpg') no-repeat center center fixed; /* Set background image with fixed position */
  background-size: cover; /* Cover the entire container with the background image */
  height: 100%; /* Set height to 100% */
  min-height: 100vh; /* Set minimum height to 100% of the viewport height */
}

/* Style for footer */
footer {
  position: absolute; /* Set position to absolute */
  bottom: 0; /* Align footer to the bottom of the viewport */
  width: 100%; /* Set width to 100% */
  /* Add your footer styles here */
  color:  white;
  background: white;
}
